{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title> register </title>
        <link rel="stylesheet" href="{% static 'bmi_app/style.css' %}">
    </head>
</head>
<body>
    <div class ="card" >
        <h2>Create Account </h2>
        <form method = "POST">
            {% csrf_token %}
             <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password1" placeholder="Password" required>
            <input type="password" name="password2" placeholder="Confirm Password" required>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>
</body>
</html>
